.Item img:hover{
  transform: scale(1.05);
  transition: all ease ;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(136, 219, 140);
}
#logo{
  width: 100px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.content{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  gap:20px;
 }
 h1{
  marginn-left:auto
  margin-right:auto
 }